<div class="container">
    <h1 class="center-align">Lists</h1>
    <a class="waves-effect waves-light btn" href="#newListModal">Add new list</a>

    <!-- Modal Structure -->
    <div id="#newListModal" class="modal">
        <div class="modal-content">
            <h4>Modal Header</h4>
            <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>

    <div class=row>
        <div *ngFor="let list of lists; let i = index" class="col s6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">{{list.Title}}</span>
                    <p>{{list.Description}}</p>
                </div>
                <div class="card-action">
                    <a [routerLink]="['/lists', i]">View List {{i}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
